
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* common CSS */
html, body {
  height: auto;
  overflow-y: auto;
}
#root {
  min-height: 100vh;
}
h1,h2,h3,h4,h5,h6{
  color: #626F47 !important;
}
p{
  color: #626F47 !important;
}
#pagewrapper{
  padding: 66px 0 74px;
}

/* Hero Section */
.Hero_Section{
  min-height: 45vh; /* Use 100vh instead of 100% */
  display: flex;
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
}
.Hero_Section .container-fluid{
  background-image: url('./assets/banner_image.jpg'); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: initial;
}
.Hero_Section h1, .Hero_Section p{
  color: #626F47;
}
button.btn, a.btn{
  background-color: #626F47;
  color: #ffffff;
  border: #626F47;
}
button.btn:hover, a.btn:hover{
  border: 1px solid #626f47;
  color: #626F47;
}
/* featured section */

.card-body{
  text-align: center;
}

/* Recipe Video Section */
.recipeVideo_text{
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}